<div class="p-4">
  <p-toast  position="top-center" /> 
    <div class="border border-[#10b981] shadow-md p-10 bg-white rounded-lg flex flex-col gap-y-6">
        <div>
            <h1 class="text-2xl text-[#10b981]">
                JawirBooks
            </h1>
            <h2>Eksplor ribuan buku legendaris dari zaman baheula sampai 1928. Gratis, legal, dan bisa dibaca sambil
                rebahan!</h2>
        </div>
        <div class="flex flex-row justify-start items-center gap-2 self-strech bg-red">
            <p-floatlabel variant="on">
                <p-iconfield>
                    <input pInputText id="on_label" [(ngModel)]="searchVal" autocomplete="off" pSize="small" (keyup)="searchBooks($event)"/>
                    <p-inputicon class="pi pi-search" />
                </p-iconfield>
                <label for="on_label">Cari Buku</label>
            </p-floatlabel>
            <!-- <p-button label="Submit" /> -->
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 gap-y-4" *ngIf="loading">
            @for (item of arraySkeleton; track item) {
            <div class="max-w-sm overflow-hidden shadow-md rounded-md flex flex-col gap-2">
                <p-skeleton width="full" height="18rem" />
                <div class="flex flex-col gap-2 p-4">
                    <p-skeleton width="10rem" />
                    <p-skeleton width="5rem" />
                    <p-skeleton width="90%" />
                    <p-skeleton width="90%" />
                    <p-skeleton width="90%"  />
                </div>
            </div>
            }
        </div>
        <div *ngIf="isListRender" class="grid  grid-cols-1 md:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 gap-4">
            @for (book of booksList(); track book.id) {
                <app-card-item [cardItem]="book"  />
            }
        </div>
        <div class="card flex justify-center">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecord" [alwaysShow]="false" />
        </div>
    </div>
</div>